:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --monokai: #272822;
  --black-aqua: #091921;
  --aqua-active: #133d52;
  --black-aqua_op: #091921d5;
  --black-aqua_hard_op: #09192171;
  --popup-overlay: #161616de;

  --pink: #ff105e;
  --pale-green: #67b04b;
  --bright-green: #55d725;
  --blue: #42c5e4;
  --pale-blue: #69abad;
  --yellow: #e0fd4d;

  --glowing-yellow: #d8ff13;

  --hover-blue: #102936;
}

@media (prefers-color-scheme: dark) {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;

  color: var(--yellow);

  background-image: url(../assets/body_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 100vh;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  position: relative;
}

button {
  cursor: pointer;
  background-color: unset;
  border: 1px solid transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
}

.root {
  position: absolute;
  height: inherit;
  width: 100%;
  overflow-x: auto;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  position: relative;
  width: fit-content;
  width: -moz-fit-content;

  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin: 20px;
  padding: 15px;
  border-radius: 7px;

  animation: fadeIn 1.5s;
  animation-fill-mode: forwards;
}

.list__body_li {
  margin-top: 5px;
}

.list__body_li:first-of-type {
  margin-top: 0;
}

.form__container {
  max-width: 330px;
  margin: 30px auto;
}

.glowing {
  text-shadow: 0 0 4px var(--glowing-yellow);
}

.card_design {
  /* background-color: var(--black-aqua_op); */
  background-color: var(--black-aqua);
  box-shadow: 0 0 5px var(--yellow);
  border-radius: 7px;
  transition: 0.2s ease;

  animation: fadeIn 1s;
  animation-fill-mode: forwards;
}
.avatar_btn {
  transition: 0.2s ease;
  border: 1px dashed transparent;
  border-radius: 50% !important;
}

.userInfo {
  position: relative;

  /* ? 100% - 5px (width of a scrollbar) */
  width: calc(100% - 5px) !important;
  border: 1px dashed transparent;
}
.userInfo__check {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 20px;
  height: 20px;
}

.card_design:hover,
.avatar_btn:hover {
  box-shadow: 0 0 15px var(--blue);
}

.span_email {
  font-size: 0.9em;
  color: #ffffff49;
  font-style: unset;
}

.span_divider {
  height: inherit;
  padding: 10px 0;
  margin-left: 5px;
  border-left: 2px solid #858585;
}

.active {
  background-color: var(--aqua-active);
}

.innerList {
  margin: 5px auto 0 auto;
  /* ? real Trello height */
  max-height: 188px;
  overflow-y: auto;

  border-bottom: 1px solid;

  animation: fadeIn 1s;
  animation-fill-mode: forwards;
}

.centeredContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mt_10 {
  margin-top: 10%;
}

.jc_sb {
  justify-content: space-between;
}

button:disabled {
  cursor: not-allowed;
  color: #ffffff49;
  background-color: #808080 !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 50;
  }
  100% {
    opacity: 100;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
