.animated {
  animation: fadeIn 0.8s;
  animation-fill-mode: forwards;
}

.cv-info {
  padding: 5px 10px;
  height: 78vh;
  overflow: auto;
}

.cv-info p {
  margin-top: 0.5rem;
}

.cv-info > p:last-of-type {
  border-bottom: 1px solid var(--pink);
}

.info-heading {
  color: var(--bright-blue);
  font-size: 20px;
  line-height: 28px;
  width: fit-content;
  border-bottom: 1px solid var(--blue);
}

@media (max-width: 726px) {
  .cv-info {
    height: auto;
  }
}
