.toast {
  position: fixed;
  width: inherit;
  top: 0;
  z-index: 8000;

  /* max-width: 100%; */

  text-align: center;
  background-color: var(--black-aqua_op);
  box-shadow: 0 0 5px var(--pink);
}

.conflict {
  color: var(--pink);
}

.timeout {
  color: var(--pale-yellow);
}
