.add__list__form,
.add__list__input {
  padding: 5px;
}
.add__list__form {
  min-height: 110px;
}
.add__form {
  margin-left: 15px;
  max-width: 250px;
}

.add__form_wd {
  margin-left: 15px;
  width: 165px;
}

.add__toggler {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 15px;
  color: var(--yellow);
  transition: all 0.5s ease;
}

.innerCreate__btn {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #42a185;
  color: #fff;
}

.header__wrapper {
  display: flex;
  align-items: center;
  padding: 5px;
  box-shadow: none;
  position: fixed;
  right: 55px;
  top: 67px;
  z-index: 6000;

  border: 1px solid;
  border-color: var(--blue);
  padding: 5px;
}

.invite__btn {
  padding: 5px;
  border: 1px dashed transparent;
}

.subsSection {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 90px;
  margin-left: 5px;
  padding: 5px 5px 5px 0;
  height: 35px;
}

.avatar__container {
  position: relative;
}

.avatar__ico {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 15px;
  height: 15px;
}

.invite__section {
  margin-left: 5px;
}

.invite__form {
  box-shadow: none;
  padding: 0;
  margin-top: 5px;
  min-height: 150px;
  /* trello height min-height: 400px; */
  justify-content: space-between;
}

.w_100pr {
  width: 100%;
}

.invite__form > input {
  font-size: 1.1em;
  text-align: start;
}

.invite__form:hover {
  box-shadow: none;
}

.innerCreate__btn:active {
  background-color: var(--aqua-active);
}
.add__toggler:active {
  background-color: var(--aqua-active);
}
